<div class="row justify-content-md-center" id="settings">
    <div class="container bg-dark">
        <h1 class="text-light">Felhasználó</h1>
        <div class="row">
            <div class="col-sm-12 h-100" >
                <p class="text-light text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor tempor nibh eu auctor. Fusce gravida leo urna. Mauris sapien libero, feugiat ut ullamcorper ac, feugiat dapibus diam. Pellentesque feugiat consequat justo, sit amet ornare purus sollicitudin vel. Aenean feugiat gravida erat eu pretium. Quisque nibh turpis, pretium vitae iaculis fermentum, mollis eget turpis. Proin iaculis varius pharetra. Praesent sed augue nunc. Nunc a urna a ex euismod ullamcorper nec vitae lectus. Vivamus commodo ut leo a molestie. Vivamus tempor pulvinar tincidunt. Proin sed ultrices turpis. Praesent id est augue. Aliquam sagittis eget leo vel elementum.</p>
                <button class="btn btn-primary btn-block" (click)="resetAccount()">Reset</button>
            </div>
        </div>
    </div>
</div>