<div *ngIf="Currencies.length !== 0">
  <div *ngIf="Balance">
    <div id="main">
      <div class="container bg-dark">

        <h1 class="text-light">Tevékenységek</h1>
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-light">Egyenlegek</h2>
            <table class="table table-sm table-bordered table-hover table-striped table-dark" id="balanceTable">
              <thead>
              <tr>
                <th scope="col">Valuta</th>
                <th scope="col">Mennyiség</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Dollár</td>
                <td>{{Balance.usd}}</td>
              </tr>
              <tr>
                <td>BTC</td>
                <td>{{Balance.btc}}</td>
              </tr>
              <tr>
                <td>XRP</td>
                <td>{{Balance.xrp}}</td>
              </tr>
              <tr>
                <td>ETH</td>
                <td>{{Balance.eth}}</td>
              </tr>
              <tr *ngFor="let currency of Currencies">
                <td>{{currency.symbol}}</td>
                <td>{{currency.currentRate}}</td>
              </tr>
              </tbody>
            </table>
          </div>


          <div class="col-md-6">
            <div class="row">
              <div class="col-12">
                <app-transaction></app-transaction>
              </div>
            </div>
          </div>



        <div class="row">
          <div class="col-12">
            <app-dashboard></app-dashboard>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



</div>
